From Tutorial/
Catalin Zima Multithreading/
aParticle Engine Projects/
TestProgram */
TestProgram/TestProgram1/TestProgram1Content/
TestProgram/TestProgram1/TestProgram1/bin/
TestProgram/TestProgram1/TestProgram1/obj/
*.zip
